.woocommerce-account {
	.entry-header {
		.entry-title {
			display: none;
		}
	}
}

/* login */ 
.form-account {
	width: 310px;
	display: block;
	margin: 100px auto;

	h2 {
		color: $cor-txt;
		padding: 0;
		font-size: 1.75rem;
		margin-bottom: 10px;

		&:before, &:after {
			display: none;
		}
	}

	form {
		display: none;
		margin: 30px 0 0;
	}

	.btn-social {
		margin-top: 20px;

		.ou-login {
			display: block;
			margin: 0px 0;
			text-align: center;
			position: relative;

			&:before {
				content: '';
				height: 1px;
				width: 100%;
				background: $cinza;
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 0;
			}

			span {
				font-size: 0.7rem;
				padding: 5px;
				background: #fff;
				display: inline-block;
				position: relative;
				color: $cinza;
			}
		}
	}

	.txt-link {
		text-align: center;
		font-size: .75rem;
		max-width: 230px;
		display: block;
		margin: 15px auto;
		color: $cinza;

		a {
			font-size: .75rem;
			text-decoration: underline;
			color: $azul;
		}
	}

	&.login-account {
		display: none;
	}

	&.register-account {
		.woocommerce-privacy-policy-text {
			display: none;
		}
	}

	.woocommerce-Button.button {

	}
}