.carrinho th{font-weight:bold;border:none !important;padding-bottom:6px}.carrinho th.product-quantity{text-align:center}.carrinho td{border-bottom:2px solid #ddd !important;border-top:0 !important;display:table-cell;vertical-align:middle !important}.carrinho td.product-thumbnail .attachment-woocommerce_thumbnail{width:67px;height:auto;border:1px solid rgba(#000, .25);}.carrinho td.product-name a{color:#4a90e2}.carrinho td.product-name a:hover{text-decoration:underline !important}.carrinho td.product-quantity{text-align:center}
 .carrinho td.product-quantity .quantity{width:80px;display:block;margin:0 auto}.carrinho td.product-quantity .quantity input{font-size:1.125rem !important}.carrinho td.product-quantity .remove{color:#a3a6aa}.carrinho td.product-quantity .remove:hover{text-decoration:underline !important}.carrinho td.product-subtotal span{font-weight:bold}.woocommerce-cart .entry-header{display:none}.table{margin:50px 0}.table thead{background-color:#f1f1f1}.cart-collaterals{background-color:#f1f1f1;padding:30px;margin:50px 0 !important}.cart-collaterals .cart_totals .tit{font-weight:700;display:block;font-size:1.125rem;margin:0 0 20px 0}
 .cart-collaterals .shipping th,.cart-collaterals .shipping td{padding-bottom:30px}.cart-collaterals .order-total{border-top:1px solid #333}.cart-collaterals .order-total th,.cart-collaterals .order-total td{padding-top:30px}.cart-collaterals .order-total th,.cart-collaterals .order-total span{font-size:1.5rem;text-transform:uppercase;font-weight:700}.cart-collaterals .btn-comprar{margin:30px 0}.cart-collaterals .txt-obs{font-size:.9rem;text-align:center;max-width:250px;margin:0 auto;line-height:1rem}.cart-collaterals h3{font-weight:700;display:block;font-size:1.125rem;margin:0 0 20px 0;padding:0;color:#333}
 .woocommerce-message,.woocommerce-error{width:100%;text-align:center;padding:10px;background-color:#f8e4a0}.woocommerce-checkout .entry-header{display:none}.woocommerce-checkout .woocommerce-form-coupon-toggle{display:none}.woocommerce-checkout h3{margin:100px 0 30px}.woocommerce-checkout .shipping_address,.woocommerce-checkout .woocommerce-shipping-fields{display:none}.woocommerce-checkout .cart-collaterals{margin-top:110px !important}.woocommerce-checkout .cart-collaterals h3{margin-top:0}.woocommerce-additional-fields{margin-top:50px}


 .carrinho {
 	.product-thumbnail {
 		.wp-post-image {
 			height: auto;
 			width: 80px;
 		}
 	}

 	.actions {
 		.coupon {
 			display: none;
 		}
 	}

	th {
		background-color: transparent!important;
		&.product-entrega {
			text-align: center;
		}
 	}

 	td {
 		background-color: transparent!important;
 		&.entrega {
 			text-align: center;
 		}
 	}

 	tr {
 		&.info-vendedor {
 			td {
				border: none !important;
				padding: 20px 20px 40px;

				p, .row-item {
					margin: 0;

					span {
						float: right;

						&.valor-sub {
							span {
								float: none;
							}
						}

						strong {
							* {
								float: none;
								font-weight: $bold;
							}
						}
					}
				}

				a {
					strong	{
						color: $azul;
						text-decoration: underline;
						margin-left: 5px;
						@include animacao;
					}

					&:hover {
						strong {
							color: $amarelo;
						}
					}
				}
 			}
 		}
 	}

 	thead {
 		&:nth-last-child(2){
 			display: none;
 		}
 	}

 	.msg-loja {
		background-color: rgba(#f5a623, .25);
		color: #d0021b;
		width: 75%;
		display: block;
		margin: 20px auto;
		padding: 20px;
		border-radius: 40px;
		text-align: center;

		strong, strong * {
			color: #d0021b;
			font-weight: $bold;
		}
 	}
 }

.cart-collaterals {
	.shop_table {
		.cart-subtotal {
			th, td {
				padding: 0px 5px 10px;
			}
		}
		.shipping {
			td {
				.woocommerce-shipping-contents {
					display: none;
				}
			}
		}
	}
}

.woocommerce-Price-amount {
	.woocommerce-Price-currencySymbol {
		padding-right: 5px;
	}
}

.form-dadospessoais {

}

#billing_country_field, #billing_address_1_field, #billing_address_2_field, #billing_city_field, #billing_state_field, #billing_postcode_field, #billing_email_field, .woocommerce-additional-fields {
	//display: none;
}

#billing_first_name_field, #billing_last_name_field, #billing_country_field, #billing_address_1_field, #billing_address_2_field, #billing_city_field, #billing_state_field, #billing_postcode_field, #billing_phone_field, #billing_email_field {
	width: 50%;
	padding: 0 5px;
	float: left;
	@include box-sizing();
}

.btn-checkout-footer {
	display: block;
	margin-top: 30px;
	margin-left: 5px;
	clear: both;
	float: left;
	width: 100%;
	@include clear;

	#passo_dados, #checkout-add {
		//display: none;
	}
}

#billing_address_2_field {
	margin-top: 21px;
}

#payment .payment_methods > li .payment_box, #payment .place-order, #order_review {
	background-color: transparent!important;
}