.prod-list {
	width: 20%;
	float: left;
	padding: 30px;
	@include box-sizing;

	.img-prod {
		overflow: hidden;
		width: 250px;
		max-width: 100%;
		display: block;
		height: 200px;
		margin-bottom: 10px;

		img {
			width: 100%;
			max-width: 250px;
			margin-bottom: 5px;
			@include animacao;
		}
	}

	a {
		&:hover {
			img {
				@include scale-rotate;
			}

			.titulo {
				color: $azul;
			}
		}
	}

	span {
		line-height: 1rem;
	}

	.titulo, .medida, .quantidade {
		display: block;
	}

	.titulo, .medida {
		margin-bottom: 5px;
	}

	.medida, .quantidade {
		font-size: .8rem;
	}

	.titulo {
		font-size: 1rem;
		@include animacao;
	}

	.medida {
		font-size: .8rem;
	}

	.quantidade {
		color: $vermelho;
	}

	.preco {
		float: left;
		width: 100%;

		.valor {
			span {
				font-size: 2rem;
				color: $vermelho;
				float: left;
				line-height: normal;
				font-weight: $bold;
			}

			&.sale {
				del {
					display: none;
					/*.woocommerce-Price-amount.amount {
						display: block;
						width: 100%;
					}

					span {
						font-size: .8rem;
						color: $cor-txt;
						font-weight: $bold;
					}*/
				}
			}
		}

		.det {
			float: left;
			width: 45px;
			font-weight: $bold;
			line-height: .9rem;
			margin-top: 3px;
			margin-left: 10px;
			text-transform: lowercase;
		}
	}

	&.list-categoria {
		width: 25%;
		padding: 5px;
		margin-top: 15px;

		a {
			border: 1px solid #d8d8d8;
			float: left;
			width: 100%;
			padding: 2px;
			@include box-sizing;

			.titulo {
				margin-bottom: 15px;
				display: table;
				height: 50px;
				overflow: hidden;

				span {
					color: $azul;
					display: table-cell;
					vertical-align: middle;
				}
			}

			.quantidade, .preco, .medida {
				text-align: center;
			}

			.quantidade {
				font-weight: $bold;
				color: #000;
			}

			.preco {
				float: none;
				display: table;
				margin: 0 auto;
				width: auto;

				.valor {
					display: table-cell;
					width: auto;

					span {
						color: #000;
					}
				}

				.det {
					position: relative;
					top: -6px;
					text-align: left;
					margin-left: 5px;
				}
			}

			.medida {
				margin-top: 8px;
			}

			&:hover {
				.titulo {
					color: darken($azul, 10%);
				}
			}
		}

		.img-prod {
			width: 100%;
			height: 150px;

			img {

			}
		}
	}
}

.crumbs {
	width: 100%;
	margin: 20px 0 75px;

	li {
		display: inline-block;

		&:before {
			content: '/';
			padding: 0 5px 0 3px;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}

		a, &:before {
			color: $azul;
			font-size: .8rem;
			display: inline-block;
		}

		a {
			text-decoration: underline;
		}
	}
}

.prod-det {
	.nome-prod {
		font-size: 1.225rem;
		font-weight: $bold;
		line-height: 1.5rem;
		margin-bottom: 15px;
		padding: 0 20px;
		@include box-sizing;
	}

	.preco-unid, .preco-atacado {
		width: 50%;
		float: left;
		padding: 20px;
		@include box-sizing;

		span {
			display: block;
			font-weight: $bold;
		}

		.det-qtd {
			color: $azul;
			min-height: 22px;
			font-size: 1rem;
			text-transform: uppercase;
			margin-bottom: 10px;
			display: block;
		}

		.preco, .preco * {
			font-size: 2.5rem;
			color: $vermelho;
			float: left;
			line-height: normal;
			padding-right: 10px;
		}

		.det-preco {
			position: relative;
			top: 14px;
		}
	}

	.preco-unid {
		border-right: 1px solid $cinza;
	}
}

.galeria-prod {
	border-right: 1px solid #a3a6aa;

	.img-prod {
		width: 100%;
		overflow: hidden;
		max-width: 100%;
		display: table;
		vertical-align: middle;
		text-align: center;
		padding-right: 20px;
		/*border-right: 1px solid $cinza;*/

		img {
			display: table-cell;
			max-width: 100%;
		}
	}

	ul {
		display: block;
		padding: 20px 40px 20px 20px;

		li {
			display: inline-block;
			width: 19%;

			img {
				width: 100%;
				display: block;
			}
		}
	}
}

.info-compra {
	padding: 20px;
	max-width: 500px;

	li {
		border-bottom: 1px solid $cinza;
		display: block;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: $regular;
		padding: 14px 0;

		&.no-border, &:last-child {
			border: none;
			padding-bottom: 0px;
		}

		a, span {
			font-size: 1rem;
			font-weight: $bold;
		}

		a {
			color: $azul;
			text-decoration: underline;

			&.btn-comprar {
				text-decoration: none;
			}
		}

		span {
			color: $vermelho;
		}

		form {
			margin: 10px 0 20px;
		}
	}

	#form-comprar {
		width: 100%;
	}
}

.calcular-frete {
	width: 100%;

	input, button {
		float: left;
	}

	input {
		width: 70%;
		margin-right: 3%;
	}

	button {
		width: 25%;
		padding: 0;
		text-decoration: none;
	}
}

.block-produto {
	margin: 20px 0;
	display: block;
	@include clear;

	.title-block {
		font-weight: $bold;
		display: block;
		font-size: 1.5rem;
		padding: 0 20px;
		margin: 45px 0 25px;
	}

	.cont-prod {
		padding: 0 20px;

		.tit {
			color: $azul;
			display: block;
			font-size: 1rem;
			margin-bottom: 15px;
		}
	}

	&.cart {
		.prod-list {
			padding: 0;
			width: 100%;

			.img-prod {
				width: 35%;
				height: auto;
				float: left;
				margin: 0 0px 0 0;

				img {
					height: auto;
					width: 100%;
				}
			}

			.cont-destaque {
				float: left;
				width: 65%;

				.titulo, .medida, .quantidade, .preco {
					padding-left: 15px;
				}

				.titulo {
					font-size: .75rem;
				}

				.quantidade {
					font-weight: bold;
					font-size: .75rem;
				}

				.preco {
					.valor {
						span {
							font-size: 1.6rem;
						}
					}

					.det {
						font-size: .7rem;
						line-height: .7rem;
						margin-top: 2px;
						margin-left: 5px;
					}
				}
			}

			&:hover {
				.img-prod {
					img {
						//@include animacao-off;
					}
				}
			}
		}

		.slide-categoria {
			.owl-nav {
				top: 50%;
				.owl-prev, .owl-next {
					width: 50px;
					height: 50px;
					margin-top: -25px;

					i {
						line-height: 50px;
						color: $azul;
					}
				}
			}
		}
	}
}

.ficha-tecnica {
	padding: 0 20px;

	li {
		display: table;
		width: 100%;
		padding: 10px 20px;

		span {
			display: table-cell;

			&:first-child {
				text-align: right;
				min-width: 100px;
			}

			&:last-child {
				font-weight: $bold;
				padding-left: 20px;
				width: 100%;
			}

			strong {
				&:after {
					content: ', ';
				}

				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}

		&:nth-child(odd) {
			background-color: #efeaea;
		}
	}
}

/* CATEGORIAS */
.storefront-sorting, .storefront-sorting, .widget-area {
	display: none;
}

.storefront-sorting {
	width: auto;
	float: right;
	@include clear;

	.woocommerce-ordering {
		width: auto;
		margin: 0 20px 0 0;
		display: inline-block;
	}

	.woocommerce-result-count {
		display: inline-block;
	}
}

.products {
	display: block;
	width: 100%;
	@include clear;
}

.woocommerce-products-header {
	margin-bottom: 15px;
	width: 100%;
	float: left;
	@include clear;
}

.page-title {
	color: $azul-escuro;
	display: block;
	font-size: 2rem;
	font-weight: $bold;
	position: relative;
	top: 0;
	width: 100%;
}

.filtro-cat {
	background-color: #f3f1f2;
	width: 100%;
	//min-height: 500px;
	padding: 25px;
	margin-top: 40px;
	@include box-sizing;

	li span, h3, tit-atributo {
		color: #4c4a4b;
	}

	li {
		margin: 15px 0;
		display: block;

		li {
			margin: 5px 0 0;

			span {
				position: relative;
				top: -2px;
			}

			&.cor {
				display: inline-block;
			}
		}
	}

	h3 {
		margin-bottom: 12px;
		font-size: 1.5rem;
	}

	input {
		border: 1px solid #999798;
		margin: 0 5px 0 0;
		padding: 0;
		position: relative;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;	

		&.filtro-cor {
			width: 32px;
			height: 32px;
			border-color: #f3f1f2;
			margin: 0 15px 0 0;

			&:hover, &:checked {
				border-color: #999798;
			}
		}	

		&.filtro-check {
			background-color: #d8d8d8;
			border-radius: 2px;
			width: 15px;
			height: 15px;
			font: normal normal normal 14px/1 FontAwesome;

			&:hover {
				background-color: #fff;
			}

			&:checked {
				background-color: #fff;

				&:before {
					content: '\f00c';
					position: absolute;
					top: 1px;
					left: 2px;
					font-size: 10px;
				}
			}
		}
	}

	.tit-atributo {
		font-weight: $bold;
		margin-bottom: 5px;
	}

	.atributo-filtro {

	}

	.itens-atributo-filtro {

	}
}



/* CARRINHO */
.woocommerce-cart {
	.entry-header {
		display: none;
	}
}

.table {
	margin: 50px 0;

	thead {
		background-color: #f1f1f1;
	}
}

.cart-collaterals {
	background-color: #f1f1f1;
	padding: 30px;
	margin: 50px 0;

	.cart_totals {
		.tit {
			font-weight: 700;
			display: block;
			font-size: 1.125rem;
			margin: 0 0 20px 0;
		}
	}

	.shipping {
		th, td {
			padding-bottom: 30px;
		}
	}

	.order-total {
		border-top: 1px solid $cor-txt;

		th, td {
			padding-top: 30px;
		}

		th, span {
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: $bold;
		}
	}

	.btn-comprar {
		margin: 30px 0;
		text-decoration: none;
	}

	.txt-obs {
		font-size: .9rem;
		text-align: center;
		max-width: 250px;
		margin: 0 auto;
		line-height: 1rem;
	}
}

.woocommerce-message {
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #f8e4a0;
}