.anuncio-topo {
	height: 60px;
	width: 100%;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	display: block;
	@include clear;
}

.banner-page {
	@extend .anuncio-topo;
	height: 270px;
}

.col-full, .storefront-primary-navigation {
	display: none;
}

.header {
	background-color: #162649;
	width: 100%;
	padding: 15px 0;
	@include clear;

	h1 {

	}

	.header-dir {
		display: block;
		width: 100%;
		padding-left: 200px;
		box-sizing: border-box;
	}

	.busca {
		display: table-cell;
		width: 100%;

		form {
			display: table;
			position: relative;
			width: 100%;

			.busca-header {
				height: 53px;
				width: 100%;
				display: table-cell;
				border: 0;
			}

			.filtro-busca {
				display: table-cell;
				background-color: #dddddd;
				width: 130px;
				padding: 0 20px;
				line-height: 51px;
			}

			.busca-lupa {
				width: 53px;
				height: 53px;
				padding: 0;
				background-color: $vermelho;
				position: absolute;
				right: 0px;
				top: 0;

				&:hover {
					background-color: darken($vermelho, 10%);
				}

				img {
					position: relative;
					top: 7px;
				}
			}
		}
	}

	.item-topo {
		display: table-cell;

		a {
			color: #ffffff;
			font-size: 2rem;
		}

		.login {
			display: table;
			vertical-align: middle;
			width: 220px;
			position: relative;
			top: 3px;

			img {
				display: inline-block;
				margin: 0px 5px 0 20px;
				vertical-align: middle;

			}

			span, strong {
				@include animacao;
			}

			span {
				color: #ffffff;
				font-size: 1rem;
				line-height: .8rem;
				display: table-cell;
				width: 198px;
				vertical-align: middle;
				top: 0px;
				position: relative;
			}

			&:hover {
				span, strong {
					color: $amarelo!important;
				}
			}
		}

		&.user-login {
			border-right: 2px solid #fff;

			.login {
				padding-right: 20px;

				a {
					&:hover {
						color: rgba(#ffffff, .75);
					}	
				}

				&.active {
					&:hover {
						span {
							color: #ffffff!important;
						}
					}
				}
			}

			.logout {
				@include clear;
				display: block;

				a {
					font-size: .75rem;
					color:  $amarelo;
					margin: 0px 0 0 63px;
					position: relative;
					top: -10px;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
						color: $amarelo;
					}
				}
			}
		}

		&.carrinho {
			.login {
				width: auto;
				span {
					font-size: .6rem;
					text-align: center;

					strong {
						font-size: 1.5rem;
						color: #ffffff;
					}
				}
			}
		}
	}
}