$width: 1400px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: .875rem;
$cor-txt: #333333;

$bege: #f2eee5;
$azul-celeste: #40bdc8;

$azul: #4a90e2;
$azul-escuro: #162649;

$cinza: #a3a6aa;
$cinza-claro: #f5f5f5;
$cinza-escuro: #3f3f40;

$amarelo: #f5a623;
$vermelho: #d0021b;
$laranja: #ED7304;


$borda: $cinza-escuro;


$light: 300;
$regular: 400;
$bold: 700;
$bold-extra: 700;

$wLogo: 200px;

$hSlide: 270px;

$img-cover: 60vh;